<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form [formGroup]="form" (submit)="onSavePost()"  *ngIf="!isLoading">
      <mat-form-field>
        <input
            matInput
            type="text"
            formControlName="title"
            placeholder="Title"
        >
        <mat-error class="errorForm" *ngIf="form.get('title').invalid">Please enter a title for your post</mat-error>
      </mat-form-field>

      <div>
        <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
        <input type="file" #filePicker (change)="onImagePicked($event)">
      </div>

      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
        <img [src]="imagePreview" [alt]="form.value.title">
      </div>

      <mat-form-field>
        <textarea
            matInput
            rows="4"
            placeholder="Content"
            formControlName="content"
        >
        </textarea>
        <mat-error class="errorForm" *ngIf="form.get('content').invalid">Please enter the content of your post</mat-error>
      </mat-form-field>

      <button class="btnSend" mat-raised-button color="accent" type="submit">
        Save Post
      </button>
  </form>

</mat-card>
<!-- <textarea rows="10" [value]="newPost" #postInput></textarea> -->
<!-- (click)="onAddPost(postInput)" -->
<!-- [(ngModel)]="enteredTitle" -->
<!-- [(ngModel)]="enteredContent" -->
<!-- (click)="onAddPost()" -->
