mat-card {
  margin: 1rem 0;
}

mat-form-field,
textarea {
  width: 100%;
}

.errorForm {
  margin: .5rem 0;
}

button.btnSend {
  margin: 1rem 0;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  max-width: 100%;
  height: 100px;
}
